$primary-color: #2d377f;
$secondary-color: #747bb2;
$table-border: 2px solid $primary-color;
%container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

html,
body {
  height: 95%;
  background-color: #accee5;
  color: $primary-color;
}

.mycontainer {
  @extend %container;
  height: 100%;
}

header {
  h1 {
    text-align: center;
  }
}

h5 {
  text-align: center;
}

nav {
  margin-top: 20px;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
}

a {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: $secondary-color;
}

a.active {
  text-decoration: underline;
  color: $primary-color;
}

table {
  th {
    border: $table-border;
    padding: 0 10px;
    text-align: center;
  }
  td {
    border: $table-border;
    padding: 0 10px;
  }
}

.card {
  margin: 10px auto;
}

img {
  margin-bottom: 40px;
}

#cs50 {
  font-weight: bold;
}

@media (max-width: 500px) {
  ul {
    display: block;
  }

  li {
    text-align: center;
    margin-top: 10px;
  }
}
